<h1>Definitons</h1>

<hr>

  <h3>Here are the definitions in the dictionary: </h3>

  <ul>
     <%= @definitions.name %>
  </ul>

  <h4>Add a Definition</h4>

  <hr>

    <form action="/definitions" method="post">

      <label for='name'>Definition:</label>
      <input id='name' name='name' type='text' class="rq-form-element" autofocus/>

      <button type="submit">Add</button>
    </form>
