<h1>Welcome to Word Dictionary</h1>

<hr>

<ul>
  <a href="/words"><button class="button btn">See Words List</button></a>
  <a href="/words/new"><button class="button btn">Add New Word</button></a>
</ul>  
