<h1>My First Dictionary.</h1>

<h4>Some of the words which are defined are:-</h4>

<ul>
  <% @words.each() do |word| %>
  <li>
    <a href="/words"><%= word.single() %></a>
  </li>
  <% end %>
</ul>

<h3>Add a new word with description.</h3>

<div class="form-group">
  <form action="/words" method="post">
    <label for="single">Enter Word</label>
    <input id="single" name="single" type="text">
    <button type="submit">Add word</button>
  </form>
</div>
