<h1>My First Dictionary.</h1>

<h3>Some of the words which are defined are:-</h3>

<ul>
  <% @words.each() do |word| %>
  <li><%= word.single() %></li>
  <% end %>
</ul>

<h3>Add a new word with description.</h3>

<div class="form-group">
  <form action="/words" method="post">
    <label for="single">Enter Word</label>
    <input id="single" name="single" type="text">
    <button type="submit">Add word</button>
  </form>
  <form action="/definations" method="post">
    <label for="sentence">Enter description:</label>
    <input id="sentence" name="sentence" type="text">
  </form>

</div>
