<!-- <h1>Add a Definition</h1>

<hr>

  <form action="/definitions" method="post">

    <label for='name'>Definition:</label>
    <input id='name' name='name' type='text' class="rq-form-element" autofocus/>

    <button type="submit">Add</button>
  </form> -->
