<h3>Here are all the Words in this dictionary:</h3>

<hr>

  <ul>
    <% @words.each() do |define| %>
      <li><a href="/definitions/<%= define.id() %>"><%= define.name %></a></li>
    <% end %>
  </ul>

  <a href="/"><button class="button btn">Return to Main Page</button></a>

  <h1>Add words</h1>

    <p>Add a word here:</p>

    <form action="/words" method="post">
      <label for="name">Word's name:</label>
      <input id="name" name="name" type="text" class="rq-form-element" autofocus/>
      <button type="submit">Add Word</button>
    </form>

  <a href="/"><button class="button btn">Return to Main Page</button></a>
