<h1>Add a Description</h1>

<hr>

  <form action="/description" method="post">

    <label for='name'>Description:</label>
    <input id='name' name='name' type='text' class="rq-form-element" autofocus/>

    <button type="submit">Add</button>
  </form>
